/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

//Sidebar

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: rgb(56, 145, 247);
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #1d1c1c;
    --box-color: #fff; 
    --dropdown-color: #ffffff;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.sidebar-main{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar-main.dark{
    --body-color: #0e0e0e;
    --sidebar-color: #171717;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --box-color: #171717;
    --dropdown-color: #171717;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar-main.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar .menu .nav-link{
    cursor: pointer;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar-main .sidebar li a{
    display: none;
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.sidebar-main.dark .sidebar li a:hover .icon,
.sidebar-main.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar li a.active{
    background-color: var(--primary-color);

    .icon, .text{
        color: var(--sidebar-color);
    }
}

.sidebar-main.dark .sidebar li a.active{
    .icon, .text {
        color: var(--text-color);
    }
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
.sidebar-main.dark .mode .sun-moon i.sun{
    opacity: 1;
}
.sidebar-main.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.sidebar-main.dark .switch::before{
    left: 20px;
}

//NavBar

.navdash{
    position: relative;
    left:  250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

.navleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: 65px;
    padding: 0 30px 0 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: var(--tran-03);
}

.sidebar.close ~ .navdash{
    left: 88px;
    width: calc(100% - 88px);
}

.navleft ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}

.navleft ul{
    padding: 0;
    margin: 0;
}

.navleft ul li a{
    display: block;
    text-decoration: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.5px;
}

.navleft > ul > li:hover{
    transition: all 0.2s;
    color: rgb(56, 145, 247);
    cursor: pointer;
}

ul .active-link{
    transition: all 0.2s;
    color: rgb(56, 145, 247);
}

.navleft ul ul {
    position: absolute;
    top: 25px;
    display: none;
    margin-left: 15px;
    z-index: 2;
    background: var(--dropdown-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 10px 10px 10px;
}

.navleft ul li:hover > ul{
    display: block;
}   

.navleft ul .drop-link li{
    width: 200px;
    text-align: justify;
    float: none;
    color: var(--text-color);
    padding: 5px;
    border-left: 0;
    display: list-item;
    position: relative;
}

.navleft ul .drop-link li:hover{
    transition: all 0.2s;
    background-color: rgb(56, 145, 247);
    color: rgb(255, 255, 255);
    // color: var(--text-color);
}

.navleft ul .drop-link li:hover:nth-child(1){
    border-radius: 0 10px 0px 0px;
}

.navleft ul .drop-link li:hover:nth-child(3){
    border-radius: 0 0px 10px 10px;
}

.navleft ul ul li .sub-link{
    color: var(--text-color);
    display: none;
}
//Tiles

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

main{
    position: relative;
    // background: #f5f9ff;
    grid-area: main;
    // width: calc(100% - 250px);
    // left:  250px;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    transition: var(--tran-05);
}

.sidebar.close ~ main{
    left: 88px;
    width: calc(100% - 88px);
}

.main-container{
    padding: 20px 35px;
}

.main-title{
    display: flex;
    align-items: center;
}

.main-title > img{
    max-height: 70px;
    object-fit: contain;
    margin-right: 20px;
}

.main-greeting{
    padding-top: 15px;
}

.main-greeting > h1{
    font-size: 22px;
    color: rgb(56, 145, 247);
    margin-bottom: 5px;
}

.main-greeting > p{
    font-size: 15px;
    // color: #555656;
    color: var(--text-color);
}

#services {
    padding: 60px 0 40px 0;
    font-family: "Open Sans", sans-serif;
}

#services .front-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

#services .box {
    display: flex;
    position: relative !important;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 80%;
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin: 0 10px 40px 10px;
    background: var(--box-color);
    // background: #fff;
    box-shadow: 0 10px 25px 0 rgba(68, 88, 144, 0.1);
    transition: var(--tran-05);
}

#services .box:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    border: 2px solid rgb(127, 187, 255);
    box-shadow: 0 3px 10px 0 rgb(154, 200, 253);
}

.favourite .hollow{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    transition: var(--tran-05);
}

.hollow .hollowStar{
    font-size: 1.3rem;
    color: var(--text-color);
}

.favourite .fill{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    transition: var(--tran-05);
}

.fill .fillStar{
    font-size: 1.3rem;
    color: var(--text-color);
}

.favourite:hover .fill{
    display: block;
}

#services .box:hover .hollow{
    display: block;
}

#services .icon img{
    margin: 0 auto 15px auto;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    height: 60px;
}

#services .channel img{
    margin: 10px auto 15px auto;
    height: 60px;
    border-radius: 50%;
}

#services .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    // color: black;
    color: var(--text-color);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, #0062db, #00d0ff, #0062db);
    background-clip: text;
    -webkit-background-clip:text;
}

#services .box:hover .title {
    background: linear-gradient(to right, #0062db, #00d0ff, #0062db);
    -webkit-background-clip: text;
    color: transparent;
}

#services .description {
    // color: rgb(80, 80, 80);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 500;
}

.section-header {
    margin: 0 0px 30px 0px;
}

.section-header h3 {
    font-size: 36px;
    // color: #3f3b61;
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.divider-line {
    margin: auto;
    width: 50%;
    width: 180px;
    margin-top: 20px;
    height: 3px;
    border-radius: 40px;
    background-color: rgb(56, 145, 247);
  }

  
@media only screen and (max-width : 855px) {
    #services .front-row {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width : 505px) {
    #services .front-row {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
}

//Todo List
.clg-todo{
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    transition: var(--tran-05);
}


.CollegeTodo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    top: 50px;
    padding-bottom: 32px;
    border-radius: 10px;
    margin-left: 400px;
    background-color: #161a2b;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.CollegeTodo h1{
    font-size: 20px;
    margin: 32px 0;
    color: white;
}

.todo-app{
    max-width: 500px;
    height: 600px;
    max-height: 600px;
}

.sidebar.close ~ .clg-todo{
    left: 88px;
    width: calc(100% - 88px);
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
}
  
.todo-input {
    padding: 10px 24px 10px 24px;
    border-radius: 6px 0 0 6px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}
  
.todo-input::placeholder {
    color: #e2e2e2;
    font-size: 15px;
}
  
.todo-button {
    padding: 12px;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}
  
.todo-input.edit {
    border: 2px solid #149fff;
    padding: 10px;
}

.todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 12px 22px;
}
  
.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}
  
.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  
    padding: 12px;
    border-radius: 5px;
    width: 85%;
}
  
.todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
}
  
.todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
}
  
.todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
}
  
.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
  
.delete-icon {
    margin-right: 5px;
    color: #fff;
}
  
.edit-icon {
    color: #fff;
}

//Custom Tiles

.custom-tiles{
    position: relative;
    width: calc(100% - 300px);
    left: 280px;
    transition: var(--tran-05);
}

.sidebar.close ~ .custom-tiles{
    left: 100px;
    width: calc(100% - 100px);
}

#services .custom-a a{
    cursor: pointer;
}

#services .custom-container{
    border: 2px solid rgb(154, 200, 253);
    background: transparent;    
}

.add-icon{
    font-size: 3rem;   
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, #0062db, #00d0ff, #0062db);
    background-clip: text;
    -webkit-background-clip:text;
}

#services .box:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    box-shadow: 0 3px 10px 0 rgb(154, 200, 253);
}

#services .box:hover .add-icon {
    background: linear-gradient(to right, #0062db, #00d0ff, #0062db);
    -webkit-background-clip: text;
    color: transparent;
}

//Popup

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 20px;
    background: var(--sidebar-color);
    height: 45%;
    max-width: 640px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.popup .popup-inner .popup-wrapper{
    width: 400px;
    padding: 30px;
}

.popup-inner .close-btn{
    position: absolute;
    top: 18px;
    font-size: 1.5rem;
    color: var(--text-color);
    border: none;
    background: var(--sidebar-color);
    right: 18px;
}

.popup-inner .popup-wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
}

.popup-inner .popup-wrapper .url{
    top: 30px;
}

.popup-inner .popup-wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 22px;
    color: var(--text-color);
    background: var(--sidebar-color);
    border-bottom: 2px solid rgb(105, 105, 105);
}

.popup-inner .popup-wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 18px;
    color: var(--text-color);
    pointer-events: none;
    transition: all 0.3s ease;
}

.popup-wrapper .input-data input:focus ~label,
.popup-wrapper .input-data input:valid ~label{
    transform: translateY(-20px);
    font-size: 16px;
}

.popup-inner .popup-wrapper .input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.popup-wrapper .input-data .underline::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgb(80, 170, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.popup-wrapper .input-data input:focus ~.underline::before,
.popup-wrapper .input-data input:valid ~.underline::before{
    transform: scaleX(1);
}

.popup-inner .popup-wrapper .tile-submit{
    position: relative;
    left: 25%;
    top: 80px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: 500 !important;
    transition: all .3s;
}
 
.popup-inner .popup-wrapper .tile-submit:hover {
    background-color: rgb(80, 170, 255);
    color: #fff !important;
}