/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: rgb(56, 145, 247);
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #1d1c1c;
    --box-color: #fff; 
    --dropdown-color: #ffffff;
    --flybox-color: rgba(11, 114, 249, 0.4);
    --shimmer-color: #f0f0f0;

    // Todo Colors
    --todo-color: #ECEDF6;  
    --todo-text: #4f5167;
    --todo-option-color: #CCCDDE;
    --todo-button-color: #FFF;
    --todo-list-bg: #F6F5FF;
    --todo-bg: #dcdcec;
    --todo-icon-hover: #c0c0cf;
    --checkbox-color: rgb(56, 145, 247);
    --todo-checkbox: #ffffff;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

// Sidebar
.sidebar-main{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar-main.dark{
    // Colors
    --body-color: #171717;
    --sidebar-color: #252525;
    --primary-color: #454546;
    --primary-color-light: #454546;
    --toggle-color: #fff;
    --text-color: #f1f0f0;
    --box-color: #252525;
    --dropdown-color: #2f2e2e;
    --flybox-color: #256ff9;
    --shimmer-color: #4b4b4b;

    // Todo Colors
    --todo-text: #f1f0f0;
    --todo-option-color: #454546;
    --todo-bg: #252525;
    --todo-color: #252525;  
    --todo-list-bg: #454546;
    --checkbox-color: #252525;
    --todo-checkbox: #454546;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;   
    padding: 10px 14px; 
    background: var(--sidebar-color);
    transition: var(--tran-05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;  
}

.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 15px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-05);
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar-main.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar .menu .nav-link{
    cursor: pointer;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar-main .sidebar li a{
    display: none;
    list-style: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.sidebar-main.dark .sidebar li a:hover .icon,
.sidebar-main.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar-active{
    background-color: var(--primary-color);
    border-radius: 6px;

    .icon, .text{
        color: var(--sidebar-color);
    }
}

.sidebar-main.dark .sidebar-active {
    .icon, .text {
        color: var(--text-color);
    }
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
.sidebar-main.dark .mode .sun-moon i.sun{
    opacity: 1;
}
.sidebar-main.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.bottom-content li{
    cursor: pointer;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.sidebar-main.dark .switch::before{
    left: 20px;
}

//NavBar

.navdash{
    position: relative;
    top: 0;
    left:  250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

.navleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: 65px;
    padding: 0 30px 0 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: var(--tran-03);
}

.sidebar.close ~ .navdash{
    left: 88px;
    width: calc(100% - 88px);
}

.navleft ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}

.navleft ul{
    padding: 0;
    margin: 0;
}

.navleft ul li a{
    display: block;
    text-decoration: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.5px;
}

.navleft > ul > li:hover{
    transition: all 0.2s;
    color: rgb(56, 145, 247);
    cursor: pointer;
}

ul .active-link{
    transition: all 0.2s;
    color: rgb(56, 145, 247);
}

.navleft ul ul {
    position: absolute;
    top: 25px;
    display: none;
    margin-left: 15px;
    z-index: 2;
    background: var(--dropdown-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 10px 10px 10px;
}

.navleft ul li:hover > ul{
    display: block;
}   

.navleft ul .drop-link li{
    width: 200px;
    text-align: justify;
    float: none;
    color: var(--text-color);
    padding: 5px;
    border-left: 0;
    display: list-item;
    position: relative;
}

.navleft ul .drop-link li:hover{
    transition: all 0.2s;
    background-color: rgb(56, 145, 247);
    color: rgb(255, 255, 255);
}

.navleft ul .drop-link li:hover:nth-child(1){
    border-radius: 0 10px 0px 0px;
}

.navleft ul .drop-link li:hover:nth-child(4){
    border-radius: 0 0px 10px 10px;
}



.navleft ul .drop-link-study li{
    width: 150px;
    text-align: justify;
    float: none;
    color: var(--text-color);
    padding: 5px;
    border-left: 0;
    display: list-item;
    position: relative;
}

.navleft ul .drop-link-study li:hover{
    transition: all 0.2s;
    background-color: rgb(56, 145, 247);
    color: rgb(255, 255, 255);
}

.navleft ul .drop-link-study li:hover:nth-child(1){
    border-radius: 0 10px 0px 0px;
}

.navleft ul .drop-link-study li:hover:nth-child(2){
    border-radius: 0 0px 10px 10px;
}

.navleft ul ul li .sub-link{
    color: var(--text-color);
    display: none;
}

.menu-trigger {
    display: none;
}

//Tiles

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

main{
    position: relative;
    grid-area: main;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    transition: var(--tran-05);
}

.sidebar.close ~ main{
    left: 88px;
    width: calc(100% - 88px);
}

.main-container{
    padding: 20px 35px;
}

.main-title{
    display: flex;
    align-items: center;
}

.main-title > img{
    max-height: 70px;
    object-fit: contain;
    margin-right: 20px;
}

.main-greeting{
    padding-top: 15px;
}

.main-greeting > h1{
    font-size: 22px;
    color: rgb(56, 145, 247);
    margin-bottom: 5px;
}

.main-greeting > p{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}

#services {
    padding: 60px 0 40px 0;
    font-family: "Open Sans", sans-serif;
}

#services .front-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

#services .box {
    display: flex;
    position: relative !important;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    min-height: 80%;
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin: 0 10px 40px 10px;
    background: var(--box-color);
    box-shadow: 0 10px 25px 0 rgba(68, 88, 144, 0.1);
    transition: var(--tran-05);
    overflow: hidden; 
    position: relative;
}

.shimmer {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: linear-gradient(to right, transparent 0%, var(--shimmer-color) 40%, transparent 100%);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: shimmer;
    opacity: 0.3;
}
  
.shimmer-effect {
    opacity: 1;
}
  
@keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
}

.content {
    opacity: 0;
    transition: opacity 0.8s ease;
}
  
.content.show {
    opacity: 1;
}

#services .box:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    border: 2px solid rgb(127, 187, 255);
    box-shadow: 0 3px 10px 0 rgb(154, 200, 253);
}

.type{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: var(--text-color);
    font-weight: 500;
}

.type p{
    margin-left: 2px;
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
}

.favourite .hollow{
    position: absolute;
    top: 0;
    right: 0;
}

.hollow .hollowStar{
    font-size: 1.3rem;
    color: var(--text-color);
}

.favourite .fill{
    position: absolute;
    top: 0;
    right: 0;
}

.fill .fillStar{
    font-size: 1.3rem;
    color: var(--text-color);
}

#services .icon img{
    margin: 0 auto 15px auto;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    height: 60px;
}

#services .channel img{
    margin: 10px auto 15px auto;
    height: 60px;
    border-radius: 50%;
}

#services .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: var(--text-color);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, #0062db, #00d0ff, #0062db);
    background-clip: text;
    -webkit-background-clip:text;
}

#services .box:hover .title {
    background: linear-gradient(to right, #0062db, #00d0ff, #0062db);
    -webkit-background-clip: text;
    color: transparent;
}

#services .description {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 500;
}

.section-header {
    margin: 0 0px 30px 0px;
}

.section-header h3 {
    font-size: 36px;
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.divider-line {
    margin: auto;
    width: 50%;
    width: 180px;
    margin-top: 20px;
    height: 3px;
    border-radius: 40px;
    background-color: rgb(56, 145, 247);
}


//Todo List

.todo{
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    transition: var(--tran-05);
}

.sidebar.close ~ .todo{
    left: 88px;
    width: calc(100% - 88px);
}

//Profile

.mainprofile{
    transition: var(--tran-05);
}

.profile{
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    display: flex;
    top: 150px;
    z-index: 999;
}

.sidebar.close ~ .mainprofile{
    left: 88px;
    width: calc(100% - 88px);
}

.profile-card {
    width: 100%;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
    background: var(--box-color);
    border-radius: 12px;
    max-width: 450px;
    position: relative;

    &__img {
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-50%);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 4;
        box-shadow: 0px 5px 30px 0px rgb(36, 106, 247), 0px 0px 0px 7px rgba(15, 111, 244, 0.5);
    
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
    
      }
      
      &__cnt {
        margin-top: -45px;
        text-align: center;
        transition: var(--tran-05);
      }

      &__name {
        font-weight: 600;
        font-size: 24px;
        color: #256ff9;
        margin-bottom: 15px;
      }
    
      &__txt {
        font-size: 18px;
        font-weight: 400;
        color: var(--text-color);
        margin-bottom: 15px;
      }

      &-inf {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
    
        &__item {
          padding: 10px 35px;
          min-width: 150px;
    
          @media screen and (max-width: 768px) {
            padding: 10px 20px;
            min-width: 120px;
          }
    
        }
    
        &__title {
          font-weight: 600;
          font-size: 27px;
          color: var(--text-color);
        }
    
        &__txt {
          color : var(--text-color);
          font-weight: 500;
          margin-top: 7px;
        }
    
      }
    
      &-ctr {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    
        @media screen and (max-width: 576px) {
          flex-wrap: wrap;
        }
    
      }
    
      &__button {
        background: none;
        border: none;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin: 0px 30px;
        margin-bottom: 60px;
        min-width: 201px;
        border-radius: 50px;
        min-height: 55px;
        color: var(--text-color);
        transition: var(--tran-05);

        @media screen and (min-width: 768px) {
          &:hover {
            transform: translateY(-5px);
          }
        }
    
        &.button--blue {
          background: linear-gradient(45deg, #1da1f2, #0e71c8);
          box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
    
          &:hover {
            box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
          }
    
        }
    
        &.button--orange {
          background: linear-gradient(45deg, #d5135a, #f05924);
          box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
    
          &:hover {
            box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
          }
    
        }
    
      }
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: var(--tran-05);
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--flybox-color);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 25px;
    height: 25px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 55px;
    height: 55px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 1075px){
    .nav{
        display: none;
    }

    .mobile-nav{
        position: absolute;
        display: block;
        list-style: none;
        z-index: 1;
        background-color: var(--box-color);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        right: 30px;
        border-radius: 10px 3px 10px 10px;
        top: 50px; 
        transition: var(--tran-05);
        width: 25%;
    }

    .menu-trigger{
        display: block;
        position: absolute;
        font-size: 30px;
        color: var(--text-color);
        background-color: var(--body-color);
        border: none;
        right: 25px;
        transition: var(--tran-05);
    }

    .navleft ul li{
        text-align: justify;
        padding: 4px;
    }

    #services .front-row {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 0;
    }

    .todo{
        position: relative;
    }
}

@media only screen and (max-width: 900px){

    .sidebar{
        width: 90px;
    }

    .sidebar li.search-box{
        display: none;
    }

    .sidebar.close{
        width: 0px;

        .image{
            opacity: 0;
        }
    }

    .sidebar .menu-bar li span{
        display: none;
    }

    .sidebar header .text{
        display: none;
    }  

    .navdash{
        left: 80px;
        width: calc(100% - 80px);
    }

    .sidebar.close ~ .navdash{
        left: 20px;
        width: calc(100% - 20px);
    }

    .section-header h3 {
        font-size: 30px;
    }

    .profile{
        width: calc(100% - 80px);
        left: 80px;  
    }

    .custom-tiles{
        width: calc(100% - 100px);
        left: 100px;
    }
    
    .todo{
        width: calc(100% - 100px);
        left: 100px;
    }
    
}

@media only screen and (max-width: 800px){

    .mobile-nav{
        width: 25%;
    }

    .navleft ul li a{
        font-size: 13px;
    }

    .navleft ul li{
        padding: 3px;
    }

    .profile-card {
        max-width: 400px;
    
        &__img {
            width: 130px;
            height: 130px;
        }

        &__name {
            font-size: 22px;
        }

        &__txt {
            font-size: 17px;
        }

        &__button {
            font-size: 17px;
        }
    }

    .custom-container {
        font-size: small;
    }
}

@media only screen and (max-width: 727px){

    .mobile-nav{
        width: 25%;
    }

    .navleft ul li a{
        font-size: 11px;
    }
    
    #services .front-row {
        grid-template-columns: 1fr;
        gap: 0px;
        margin-bottom: 0;
    }    
    
    .add-icon{
        font-size: 2.3rem;   
    }

    .custom-tiles h3{
        font-size: 24px;
    }
    
}

@media only screen and (max-width: 580px){

    .mobile-nav{
        width: 30%;
    }

    .sidebar .icon{
        font-size: 18px;
    }

    .section-header h3 {
        font-size: 25px;
    }

    #services .title {
        font-size: 18px;
    }

    .main-title > img{
        max-height: 50px;
        margin-right: 10px;
    }

    .main-greeting > h1{
        font-size: 16px;
    }

    .main-greeting > p{
        font-size: 12px;
    }

    #services .box {
        padding: 15px;    
    }

    #services .icon img{
        height: 50px;
    }

    .profile-card {
        max-width: 320px;
    
        &__img {
            width: 100px;
            height: 100px;
        }

        &__name {
            margin-top: 10px;
            font-size: 18px;
        }

        &__txt {
            font-size: 15px;
        }

        &__button {
            font-size: 15px;
        }
            
        &-inf {

            &__title {
              font-size: 20px;
            }

            &__txt {
                font-size: 15px;
            }
        }
    }

    .add-icon{
        font-size: 2.1rem;   
    }

    .custom-tiles h3{
        font-size: 20px;
    }

    .custom-tiles .divider-line{
        width: 180px;
    }

    .popup-inner{
        padding: 15px;
        height: 45%;
    }
    
    .popup .popup-inner .popup-wrapper{
        width: 380px;
    }

    .popup-inner .popup-wrapper .input-data{
        width: 95%;
    }

}

@media only screen and (max-width: 426px){

    .navleft ul li a{
        font-size: 9px;
    }

    .navleft ul li{
        padding: 0px;
    }
    
    .mobile-nav{
        width: 35%;
    }

    .section-header h3 {
        font-size: 22px;
    }

    #services .title {
        font-size: 16px;
    }

    .main-title > img{
        max-height: 45px;
    }

    #services .icon img{
        height: 45px;
    }

    #services .description {
        font-size: 12px;
    }

    .divider-line {
        width: 50%;
        width: 150px;
    }

    .profile-card {
        max-width: 250px;
    
        &__img {
            width: 100px;
            height: 100px;
        }

        &__name {
            margin-top: 10px;
            font-size: 18px;
        }

        &__txt {
            font-size: 15px;
        }

        &__button {
            min-width: 180px;
            min-height: 45px;
            font-size: 15px;
        }
            
        &-inf {

            &__title {
              font-size: 20px;
            }

            &__txt {
                font-size: 15px;
            }
        }
    }

    .add-icon{
        font-size: 1.8rem;   
    }

    .popup-inner{
        padding: 5px;
        height: 40%;
    }
    
    .popup .popup-inner .popup-wrapper{
        width: 280px;
    }

    .popup-inner .popup-wrapper .input-data{
        width: 95%;
    }

    .popup-inner .popup-wrapper .tile-submit{
        left: 10%;
        top: 60px;
        padding: 10px 15px;
    }

    .popup-inner .popup-wrapper .input-data label{
        font-size: 15px;
    }

    .popup-inner .popup-wrapper .input-data input{
        font-size: 18px;
    }
    
    .popup-inner .close-btn{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 376px){

    .navleft{
        height: 60px;
    }

    .menu-trigger{
        font-size: 25px;
    }

    .sidebar header .toggle{
        top: 40%;
    }
    
    .mobile-nav{
        width: 40%;
    }

    .navleft ul .drop-link li{
        width: 120px;
    }

    .navleft ul .drop-link-study li{
        width: 90px;
    }

    .section-header h3 {
        font-size: 18px;
    }

    #services .title {
        font-size: 13px;
    }

    .main-title > img{
        max-height: 35px;
    }

    .main-greeting > h1{
        font-size: 14px;
    }

    .main-greeting > p{
        font-size: 10px;
    }

    #services .box {
        padding: 10px;    
    }

    #services .icon img{
        height: 40px;
    }

    #services .description {
        font-size: 10px;
    }

    .divider-line {
        width: 50%;
        width: 120px;
    }

    .profile-card {
        max-width: 230px;
    
        &__img {
            width: 70px;
            height: 70px;
        }

        &__name {
            margin-top: 20px;
            font-size: 15px;
        }

        &__txt {
            font-size: 14px;
        }

        &__button {
            font-size: 14px;
            min-width: 180px;
            min-height: 45px;
        }
            
        &-inf {

            &__title {
              font-size: 18px;
            }

            &__txt {
                font-size: 13px;
            }
        }
    }

    .popup-inner{
        padding: 0px;
        height: 35%;
    }
    
    .popup .popup-inner .popup-wrapper{
        width: 230px;
    }

    .popup-inner .popup-wrapper .tile-submit{
        left: 10%;
        top: 50px;
        font-size: 13px;
        padding: 6px 10px;
    }

    .popup-inner .popup-wrapper .input-data input{
        font-size: 16px;
    }
    
    .popup-inner .close-btn{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 326px){

    .navleft{
        height: 50px;
    }

    .menu-trigger{
        font-size: 20px;
    }

    .sidebar header .toggle{
        top: 30%;
    }
    
    .mobile-nav{
        width: 48%;
    }

    .navleft ul .drop-link li{
        width: 120px;
    }

    .navleft ul .drop-link-study li{
        width: 80px;
    }

    .section-header h3 {
        font-size: 14px;
    }

    #services .title {
        font-size: 10px;
    }

    .main-title > img{
        max-height: 30px;
    }

    .main-greeting > h1{
        font-size: 12px;
    }

    .main-greeting > p{
        font-size: 8px;
    }

    #services .description {
        font-size: 8px;
    }

    .divider-line {
        width: 50%; 
        width: 80px;
    }

    .type p{
        font-size: 0.50rem;
    }

    .type{
        font-size: 0.75rem;
        font-weight: 500;
    }

    .loading {
        font-size: 15px;
        font-weight: 400;
    }

    .profile-card {
        max-width: 190px;
    
        &__img {
            width: 60px;
            height: 60px;
        }

        &__name {
            margin-top: 30px;
            font-size: 13px;
        }

        &__txt {
            font-size: 12px;
        }

        &__button {
            font-size: 12px;
            min-width: 140px;
            min-height: 35px;
        }
            
        &-inf {

            &__title {
              font-size: 13px;
            }

            &__txt {
                font-size: 12px;
            }
        }
    }
    
    .popup {
        width: 125%;
    }

    .popup .popup-inner .popup-wrapper{
        width: 220px;
    }

    .popup-inner .popup-wrapper .tile-submit{
        left: 10%;
        top: 50px;
        font-size: 13px;
        padding: 6px 10px;
    }

    .popup-inner .popup-wrapper .input-data input{
        font-size: 16px;
    }
    
    .popup-inner .close-btn{
        font-size: 1.4rem;
    }
}